<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <br>
    <p> <%= contactContent %> <a href="mailto:yashpachauri.yp@gmail.com"> Contact Me</a> </p>
    
<%- include("partials/footer"); -%>
